$chessBoardLength : 600px;
$squareLength: calc($chessBoardLength / 8);

body {
    height: 100vh;
}

#chess-board {
    width: $chessBoardLength;
    height: $chessBoardLength;
}

.c {
    width: $squareLength;
    height: $squareLength;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.r {
    display: flex;
}

.piece {
    width: calc($squareLength - 20px);
    height: calc($squareLength - 20px);
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
}

.dead {
    width: calc($squareLength - 20px);
    height: calc($squareLength - 20px);
    font-size: 4rem;
    list-style: none;
}